@import "../bower/bourbon/app/assets/stylesheets/bourbon";
@import "./includes/_signin";

.form-actions {
  float: right;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 50px;
  padding-top: 1em;
  & > .main-content {
    min-height: 400px;
  }
}
a {
  color: #00B7FF
}

.jumbotron {
  margin-top: -1em;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-color: rgba(114, 69, 242, 0.4);
  min-height: 20em;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 10px rgba(20, 0, 255, 0.7);
}
