extends ../layout

block content
  .container
    h1.page-header 원펀맨
    
    img(src="/images/000.jpg" alt="onepunman")
    img(src="/images/001.jpg" alt="onepunman")
    img(src="/images/007.jpg" alt="onepunman")
