extends ../layout

block content
  .container
    .row
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/1.JPEG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/2.JPEG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/3.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/4.JPEG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/5.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/6.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/7.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/8.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/9.JPEG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/10.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/11.jpg" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/12.jpg" alt="thumbnail")
