extends ../layout

block content
  .container
    .row
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/IMG_2526.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/IMG_2807.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/IMG_3321.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/IMG_3436.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/IMG_3299.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/IMG_3777.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/IMG_3779.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/IMG_3791.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/IMG_3797.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/IMG_3961.JPG" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/RBAM2724.jpg" alt="thumbnail")
      .col-xs-4.col-sm-3.col-md-2
        .thumbnail
          img(src="/images/YDEL3592.jpg" alt="thumbnail")
