extends layout

block hero-unit
  .jumbotron
    .container
      h1 온라인 설문 조사 서비스

block content
  .container
    .row
      .col-sm-6.col-md-4
        .thumbnail
          img(src="/images/surveyImg2.jpg" alt="thumbnail")
          .caption
            h3 이쁜 예쏠이
            p 자신만의 설문지를 작성해보세요!!!!
            p
              a.btn.btn-primary(href='#') button
              | 
              a.btn.btn-default(href='#') button
      .col-sm-6.col-md-4
        .thumbnail
          img(src="/images/IMG_3321.JPG" alt="thumbnail")
          .caption
            h3 Thumbnail label
            p hello
            p
              a.btn.btn-primary(href='#') button
              | 
              a.btn.btn-default(href='#') button
      .col-sm-6.col-md-4
        .thumbnail
          img(src="/images/IMG_3321.JPG" alt="thumbnail")
          .caption
            h3 Thumbnail label
            p hello
            p
              a.btn.btn-primary(href='#') button
              | 
              a.btn.btn-default(href='#') button
      
