extends layout

block hero-unit
  .jumbotron
    .container
      h1 온라인 설문 조사 서비스
      p 테스트 아이디 : 1@4 비밀번호 : 123456
      p 관리자 아이디 : admin@admin  비밀번호 : 123456
      p Github URL : https://github.com/Kimhomal/Term.git

block content
  .container
    .row
      .col-sm-6.col-md-4
        .thumbnail
          img(src="/images/surveyImg2.jpg" alt="thumbnail")
          .caption
            h3 설문지 작성
            p 자신만의 설문지를 작성해보세요!!!!
            p
              a.btn.btn-primary(href='surveys') 바로가기
      .col-sm-6.col-md-4
        .thumbnail
          img(src="/images/surveyImg.jpg" alt="thumbnail")
          .caption
            h3 Thumbnail label
            p hello
            p
              a.btn.btn-primary(href='#') button
              | 
              a.btn.btn-default(href='#') button
      .col-sm-6.col-md-4
        .thumbnail
          img(src="/images/IMG_3321.JPG" alt="thumbnail")
          .caption
            h3 Thumbnail label
            p hello
            p
              a.btn.btn-primary(href='#') button
              | 
              a.btn.btn-default(href='#') button
      
