doctype html
html(lang='ko')
  head
    block title
      title survey
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower/jquery/dist/jquery.js')
    script(src='/bower/bootstrap/dist/js/bootstrap.js')
    script(src='/bower/lodash/lodash.min.js')
    script(src='/bower/moment/min/moment.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', type='text/javascript')
  body
    block top-nav
      include ./includes/topnav
    block hero-unit
    .main-content
      if flashMessages
        each texts, type in flashMessages
          .container
            .alert(class='alert-#{type}')
              each msg in texts
                p= msg
      block content
