doctype html
html(lang='ko')
  head
    block title
      title survey
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower/font-awesome/css/font-awesome.min.css')
    script(type='text/javascript', src='/bower/jquery/dist/jquery.js')
    script(type='text/javascript', src='/bower/bootstrap/dist/js/bootstrap.js')
  body
    block top-nav
      include ./includes/topnav
    block hero-unit
